$blue: #2c3e50;
$light-blue: #5c6a79;

$white: #fff;
$black: #000;
$text: #212529;

$yellow: #e6bf00;
$transparent: transparent;

$font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$half-white: rgba(255, 255, 255, 0.5);

