$blue: #2c3e50;
$blue-transparent: #2c3e50bb;
$semi-blue: #445465;
$light-blue: #5c6a79;
$light-blue-transparent: #5c6a79bb;

$white: #fff;
$black: #000;
$text: #212529;

$yellow: #e6bf00;
$transparent: transparent;

$font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$half-white: rgba(255, 255, 255, 0.5);

$z-index-map: 10;
$z-index-ui: 20;
$z-index-footer: 30;
