@use "mixins/bem" as bem;
@use "variables" as vars;
@use "button" as *;
@use "center" as *;
@use "space" as *;
@use "reset";


body {
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 0.5rem 0 1.5rem 0;
  font-family: vars.$font-family;
  font-size: 1rem;
  font-weight: 400;
  color: vars.$text;

  background-color: vars.$light-blue;
  background-image: linear-gradient(
                  to bottom,
                  vars.$blue,
                  #38495a,
                  #445464,
                  #505f6e,
                  vars.$light-blue
  );
  background-repeat: repeat-x;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: vars.$transparent;
}

.container {
  display: block;
  width: fit-content;
  max-width: 100dvw;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.canvas {
  display: block;
  width: auto;
  height: auto;
  max-width: min(vars.$container-width, 100dvw);
  max-height: vars.$container-height;
  box-shadow: 0 0 0.5rem 0 vars.$text;
  background-color: vars.$half-white;
  margin: 0 auto;
}

dialog {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: vars.$z-index-dialog;
  background-color: vars.$light-blue;
  color: vars.$white;
  border-radius: 1rem;
  border-width: 0;
  box-shadow: 0 0 2.5rem 0 vars.$half-white;
  padding: 2rem;

  p:not(:last-child) {
    margin: 0 0 1rem 0;
    margin: 0 0 1lh 0;
  }
}

.map {
  @extend %center;
  @extend %no-space;

  transform: translate(-50%, -50%);
  z-index: vars.$z-index-map;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  background-color: vars.$light-blue-transparent;
  box-shadow: 0 0 0.5rem 0 vars.$text;

  @include bem.m(center) {
    button[data-position="map--center"] {
      @extend %button-hover;
    }
  }

  @include bem.m(topleft) {
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    transform: none;

    button[data-position="map--topleft"] {
      @extend %button-hover;
    }
  }

  @include bem.m(topright) {
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    transform: none;

    button[data-position="map--topright"] {
      @extend %button-hover;
    }
  }

  @include bem.m(bottomleft) {
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
    transform: none;
    flex-direction: column-reverse;

    button[data-position="map--bottomleft"] {
      @extend %button-hover;
    }
  }

  @include bem.m(bottomright) {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    transform: none;
    flex-direction: column-reverse;

    button[data-position="map--bottomright"] {
      @extend %button-hover;
    }
  }

  @include bem.m(hidden) {
    visibility: hidden;
    pointer-events: none;
  }

  @include bem.e(canvas) {
    position: static;
    display: block;
    width: vars.$canvas-default-width;
    height: vars.$canvas-default-height;
    margin: 0 auto;
    background-color: vars.$black;

    @include bem.m(small) {
      width: vars.$canvas-small-width;
      height: vars.$canvas-small-height;

      & ~ .map__options {
        flex-direction: column;
        button[data-size="map__canvas--small"] {
          @extend %button-hover;
        }
      }

      & ~ .map__title {
        width: vars.$canvas-small-width;
      }
    }

    @include bem.m(medium) {
      width: vars.$canvas-medium-width;
      height: vars.$canvas-medium-height;

      & ~ .map__options {
        flex-direction: column;
        button[data-size="map__canvas--medium"] {
          @extend %button-hover;
        }
      }

      & ~ .map__title {
        width: vars.$canvas-medium-width;
      }
    }

    @include bem.m(large) {
      width: vars.$canvas-large-width;
      height: vars.$canvas-large-height;
      & ~ .map__options button[data-size="map__canvas--large"] {
        @extend %button-hover;
      }
    }
  }

  @include bem.e(title) {
    display: block;
    width: auto;

    margin: 0;
    padding: 0.4rem 0.5rem;
    font-size: 0.7rem;
    line-height: 1;
    font-weight: bolder;
    text-align: center;
    background-color: vars.$yellow-transparent;
    color: vars.$black;

    @include bem.m(hidden) {
      display: none;
    }

    & a {
      color: vars.$black;
      text-decoration: underline;
    }
  }

  @include bem.e(options) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    padding: 0.5rem;
  }
}

.browser {
  @extend %center;
  z-index: vars.$z-index-ui;

  @include bem.e(input) {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + label {
      @extend %button;

      & * {
        pointer-events: none;
      }
    }

    &:focus + label,
    & + label:hover {
      @extend %button-hover;
    }
  }

  @include bem.m(hidden) {
    display: none;
  }
}

.download {
  @extend %center;
  z-index: vars.$z-index-ui;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @include bem.e(input) {
    @extend %button;
    text-decoration: none;
    height: 4rem;
    margin-bottom: 1rem;

    &:hover,
    &:active {
      @extend %button-hover;
    }

    @include bem.m(action) {
      background-image: vars.$button-active-bg;

      &:hover,
      &:active {
        background-image: vars.$button-active-hover-bg;
      }
    }
  }

  @include bem.m(hidden) {
    display: none;
  }
}

fieldset {
  border: 1px solid vars.$blue;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

legend {
  font-size: 0.75rem;
  color: vars.$white;
  padding: 0.15rem 0.5rem;
  background-color: vars.$blue;
  border-radius: 0.5rem;
}

fieldset button {
  @extend %button;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem;

  &:hover,
  &:active {
    @extend %button-hover;
  }

  &.action {
    background-image: vars.$button-active-bg;

    &:hover,
    &:active {
      background-image: vars.$button-active-hover-bg;
    }
  }
}

footer {
  position: fixed;
  z-index: vars.$z-index-footer;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  min-height: 1rem;
  height: auto;
  max-height: 2rem;
  margin: 0;
  padding: 0 1rem;
  background-color: vars.$blue-transparent;
  color: vars.$white;
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  img {
    display: block;
    float: left;
    width: auto;
    height: 0.8rem;
    margin-right: 0.5rem;
    margin-top: 0.1rem;
  }

  a {
    color: vars.$white;
    display: inline-block;
  }

  ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 0 0 0.5rem;

    li {
      display: inline-block;
      margin: 0 0.25rem 0 0;

      &:not(:last-child):not(:first-child) {
        &:after {
          margin-left: 0.25rem;
          content: "|";
        }
      }
    }
  }
}
