@import "bootstrap/bootstrap";

body {
  min-height: 100vh;
}
main > .container {
  padding: 2 * $navbar-padding-y + $nav-link-height 0 0 0;
}

.photo-map,
.photo-preview-container {
  height: 50vh;
}

.photo-preview {
  width: auto;
  max-height: 100%;
}
.main-canvas {

  min-width: 100%;
  width: auto;
  height: auto;
  max-width: 1200px;
  border: 1px solid #c00;
}
